* {
    margin: 0;
    padding: 0;
}


.navegacao {
    width: 100%;
    display: inline-block;
    text-align: center;,
    border-color: solid #172774 1px;
    
    
}

.perfil {
    text-align: center;
    display: block;
    
    
    } 

.hello{
    margin: auto;
    width: 300px ;
    height: 400px;
    overflow: hidden;
    padding-top: 30px;
    
    
}


.descricao {
           
    font-family:'Roboto Mono' ;
    font-size: 17px;
    color:#EEEEEE ;
}

.habilidade {
    position: relative;
    text-align: left;
    bottom: 50px;

    
    }

.botão  {
    
    font-size: 40px;
    float: right;
    margin-right: 5% ;
    background-color: #FF0075;    
    color: #77D970 ;
    padding: 35px;
    border-radius: 50% 50% 50% 50%;     
    font-family: 'Anton' , "sans-serif" ;
    
}

.logos {
   width: 100%;
   text-align: center;
      
   
}

.icones-container {

    width: 50%;
    display: inline-block;
    height: 50%;
    text-align: center;
       
    
}

.icones {
    width: 50px;
    display: inline-block;
           
}
   





body {
    font-family: 'Gemunu Libre', 'sans-serif';
    background-image: linear-gradient(#FF0075, #172774, #77D970) 
    
}

h1 {

    font-size: 56px;
    color: #77D970; 
    text-align: center; 
    bottom: 20px;
    
       }

h2 {
font-size: 40px;
color: #172774;


}

h3 {
    font-size: 36px;
    color: #EEEEEE;
     }  
